# Python cache files
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/

# IDE settings
.vscode/

# Ignore data files
data/
data/raw_data/
data/processed/

mlruns/

app/prediction_service/ml_model/model
app/kubernetes/