fastapi[all]==0.95.0
uvicorn==0.22.0
motor>=3.2.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
pydantic==1.10.2
python-dotenv==1.0.0
pydantic[email]
python-multipart
pytest==6.2.5
httpx
pytest-asyncio==0.15.1
prometheus_client==0.15.0
